/* a nice Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* Colors */
:root {
  --radius: 5px;
  --txt: #505050;
  --shadow: 1px 5px 5px rgba(143, 196, 252, 0.2);
}

/* Default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  color: var(--txt);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  display: grid;
  place-content: center;
}

/* Main body (not body because of VUE) */
main {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
  background: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
/* Navigation bar */
nav{
  margin-bottom: 1em;
  align-self: flex-end;
  transition: all 300ms;

}
nav span{
  min-width: 0;
  display: inline-flex;
  align-content: center;
  margin: 0em 0.4em;
  font-size: 0.8em;
  cursor: pointer;
  overflow: hidden;
}
nav span img{
  height: 14px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}
form h1 {
  letter-spacing: 1px;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

form section {
  margin-bottom: 1em;
  padding: 1.5em 1em 0.5em;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

input {
  font-family: inherit;
  color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}
section label {
  opacity: 0.5;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 100%;
  cursor: text;
  user-select: none;
  transition: all 150ms;
}
input:valid ~ label,
input:focus ~ label {
  opacity: 1;
  font-size: 0.7em;
  transform: translate(0,-50%);
}

button {
  opacity: 0.6;
  align-self: flex-end;
  display: flex;
  align-items: center;
  padding: 0.6em 1em;
  background: none;
  border: none;
  box-shadow: var(--shadow);
  transition: all 200ms;
}
button:hover{
  opacity: 1;
}

img {
  height: 20px;
  width: 20px;
  opacity: 0.5;
}

/* URLS List */
table{
  width: 100%;
  border-collapse: collapse;
}
table th,td{
  text-align: left;
  padding: 0.6em;
  word-break: break-all;
}

table th{
  word-break: keep-all;
  font-size: 0.8em;
  text-transform: uppercase;
}
table tr:nth-child(even){
  background: #8ec5fc28;
}

@media only screen and (max-width: 500px) {
  main {
    border-radius: 0;
  }
}